header{
	display: flex;
	flex-direction: column;
	align-items: center;

	h1{
		margin: 0.5rem;
		font-weight: bolder;
		font-size: 1.8rem;
	}
	p{
		text-align: center;
		font-size: $font-size;
	}
}
footer {
	background-color: #B8D6EC;
	padding: 1rem;
	margin-top: 2rem;

	p{
		text-align: center;
	}
}