/* CSS RESET
==================================================================================================== 
====================================================================================================
*/
html, body, div, main, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, button, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, textarea,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video,
::before, ::after {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  box-sizing: border-box; }

/* HTML5 - Older browser support
====================================================================== */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* BODY
====================================================================== */
body {
  line-height: 1; }

/* LISTS - Clear bullets
====================================================================== */
ol, ul {
  list-style: none; }

/* QUOTES
====================================================================== */
blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* TABLES
====================================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0; }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.spin {
  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center; }
  header h1 {
    margin: 0.5rem;
    font-weight: bolder;
    font-size: 1.8rem; }
  header p {
    text-align: center;
    font-size: 1.2rem; }

footer {
  background-color: #B8D6EC;
  padding: 1rem;
  margin-top: 2rem; }
  footer p {
    text-align: center; }

html {
  font-family: "Future PT", Georgia, sans-serif;
  font-size: 62.5%;
  line-height: 1.5;
  min-width: 320px; }

body {
  margin: 1rem 0rem;
  line-height: 1.5; }

.images-container {
  width: 87%;
  margin: 0rem auto; }

.image-list {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -ms-flex-pack: justify;
      justify-content: space-between; }
  .image-list li img {
    width: 100%; }

.image-list li {
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -ms-flex-direction: column;
      flex-direction: column;
  margin: 1rem 0rem; }
  @media only screen and (min-width: 768px) {
    .image-list li {
      -ms-flex-preferred-size: 49%;
          flex-basis: 49%;
      overflow: hidden; }
      .image-list li:hover .picTitle {
        bottom: 0;
        transition: 0.10s;
        transition-timing-function: ease-out; } }
  @media only screen and (min-width: 1000px) {
    .image-list li {
      -ms-flex-preferred-size: 32%;
          flex-basis: 32%;
      overflow: hidden; } }

.picTitle {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  left: 0rem;
  right: 0rem;
  padding-left: 0.5rem; }
  .picTitle h3, .picTitle p {
    line-height: 1.2rem; }
  @media only screen and (min-width: 768px) {
    .picTitle {
      bottom: -10rem;
      position: absolute; } }
  @media only screen and (min-width: 1000px) {
    .picTitle {
      bottom: -10rem;
      position: absolute; } }

.picTitle h3 {
  background-image: url("../user-icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  text-indent: 25px; }
  .picTitle h3 a {
    color: #ffffff; }

.picTitle p {
  background-image: url("../location.svg");
  background-repeat: no-repeat;
  background-size: contain;
  text-indent: 23px;
  margin-left: 0.2rem; }
